---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"
const allPosts = await getCollection("blog")
const sortedPosts = allPosts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate))
const pageTitle = "Blog Archive"
---
<BaseLayout pageTitle={pageTitle}>
	<p class="text-center">A complete list of posts in date order</p>
	<ol>
		{sortedPosts.map((post:any) => <BlogPost url={`/posts/${post.id}/`} title={post.data.title} date={post.data.pubDate} description={post.data.description}/> )}
	</ol>
</BaseLayout>